.modal_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  border: none;
  height: 110vh;
  width: 110vw;
  background: #0000002a;

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    padding: 0 50px 50px 50px;
    border-radius: 10px;

    .modal_recap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      text-align: left;

      .modal_row {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        gap: 15px;

        .modal_header {
          white-space: nowrap;
          font-weight: bold;
          font-size: 1.15rem;
        }
      }
    }
  }
}
