.modal_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  border: none;
  height: 110vh;
  width: 110vw;
  background: #0000005c;

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    padding: 0 50px 30px 50px;
    border-radius: 10px;
    min-width: 900px;
    width: 80vw;
    max-width: 1100px;

    @media only screen and (max-width: 1300px) {
      padding: 0 35px 15px 35px;
    }
    @media only screen and (max-width: 850px) {
      min-width: auto;
      height: 100dvh;
      width: 100vw;
      overflow: auto;
    }
    @media only screen and (max-width: 600px) {
      font-size: 0.85rem;
      padding: 0 20px 10px 20px;
      border-radius: 0;
    }

    .modal_title {
      h3 {
        @media only screen and (max-width: 1300px) {
          padding: 30px;
        }
        @media only screen and (max-width: 850px) {
          padding: 20px 0;
        }
        @media only screen and (max-width: 600px) {
          font-size: 1.6rem;
          padding: 5px 0;
        }
      }
    }

    .modal_close_button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .modal_recap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      @media only screen and (max-width: 850px) {
        grid-template-columns: none;
        gap: 5px;
      }

      .modal_recap_personnalInfos,
      .modal_recap_appoitmentInfos,
      .modal_recap_washingInfos {
        display: grid;
        gap: 10px;
        text-align: left;
        margin: 0 0 20px 0;

        @media only screen and (max-width: 1300px) {
          gap: 5px;
          margin: 0 0 15px 0;
        }
        @media only screen and (max-width: 600px) {
        }

        h4 {
          font-size: 1.2rem;

          @media only screen and (max-width: 600px) {
            font-size: 0.95rem;
          }
        }

        .modal_row {
          display: flex;
          // flex-wrap: wrap;
          align-items: baseline;
          justify-content: flex-start;
          gap: 7.5px 15px;

          .modal_header {
            white-space: nowrap;
            font-weight: bold;
            min-width: 100px;
            // font-size: 1.15rem;
          }

          .modal_value {
            display: flex;
            flex-direction: column;
            gap: 3px;
          }
        }
      }
    }

    .modal_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin: 20px 20px 0 20px;

      @media only screen and (max-width: 1300px) {
        margin: 15px 15px 0 15px;
      }
      @media only screen and (max-width: 600px) {
        gap: 15px;
      }

      button {
        cursor: pointer;
        padding: 10px 20px;
        color: #ffffff;
        background: #0c3c60;
        border: 1px solid #0c3c60;
        transition: 0.3s;
        font-family: "poppins", serif;
        font-weight: 400;
        min-width: 160px;

        &:hover {
          color: #0c3c60;
          background: #ffffff;
        }

        @media only screen and (max-width: 600px) {
          padding: 7.5px 15px;
        }
      }

      .modal_button_cancel {
        border: 1px solid #bd2929;
        background: #bd2929;

        &:hover {
          color: #bd2929;
        }
      }
    }
  }
}
