.options,
.finitions {
  background: #ffffff;
  margin: 0 200px;

  @media screen and (max-width: 1455px) {
    margin: 50px 68px;
  }
  @media screen and (max-width: 480px) {
    margin: 8.67px 23.12px;
  }

  .options-container,
  .finitions-container {
    height: 100%;
    width: 100%;
    background: #ffffffbe;

    .options-title,
    .finitions-title {
      margin: 30px 0;

      h3 {
        padding: 50px;
        font-size: 2rem;
        font-weight: 100;
        font-family: "poppins", serif;
        text-transform: uppercase;
        text-align: center;
        color: #072136;
        opacity: 0;
        transform: translateY(50px);
        transition: 1s;

        @media screen and (max-width: 900px) {
          font-size: 1.65rem;
        }
        @media screen and (max-width: 600px) {
          padding: 25px 25px 0 25px;
        }
      }
    }

    .options-container-details,
    .finitions-container-details {
      display: grid;
      grid-template-columns: repeat(5, 20%);

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr) !important;
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 50%) !important;
      }
      @media screen and (max-width: 600px) {
        margin: 0 !important;
      }
      @media screen and (max-width: 420px) {
        grid-template-columns: 1fr !important;
      }

      .polissage,
      .nettoyage-bloc-moteur,
      .impermeabilisant-textiles {
        border-left: 1px solid rgb(216, 216, 216);
      }

      .shampoing-siege-tissus,
      .shampoing-tapis-coffre,
      .nettoyage-bloc-moteur,
      .nettoyage-cuir-alcantara,
      .protection-cuir,
      .anti-buee,
      .shampoing-moquette,
      .renovateur-joints,
      .protection-plastique,
      .impermeabilisant-textiles {
        border-bottom: 1px solid rgb(216, 216, 216);
      }

      @media screen and (max-width: 1200px) {
        .shampoing-siege-tissus {
          border-left: none;
          border-bottom: 1px solid rgb(216, 216, 216);
        }
        .protection-plastique,
        .shampoing-tapis-coffre,
        .protection-ceramique-vitres,
        .protection-cuir {
          border-left: 1px solid rgb(216, 216, 216);
        }
        .nettoyage-bloc-moteur,
        .nettoyage-cuir-alcantara,
        .protection-cuir,
        .impermeabilisant-textiles {
          border-bottom: none;
        }
        .impermeabilisant-textiles {
          border-left: none;
        }
      }

      @media screen and (max-width: 900px) {
        .protection-ceramique,
        .renovateur-pneus,
        .renovateur-joints {
          border-left: 1px solid rgb(216, 216, 216);
        }
        .nettoyage-cuir-alcantara,
        .protection-ceramique {
          border-left: none;
        }
        .shampoing-siege-tissus {
          border-left: 1px solid rgb(216, 216, 216);
          border-bottom: none;
        }
        .shampoing-tapis-coffre {
          border-bottom: none;
          border-left: none;
          border-bottom: 1px solid rgb(216, 216, 216);
        }
        .shampoing-moquette {
          border-left: 1px solid rgb(216, 216, 216);
        }
        .protection-ceramique-jantes {
          border-left: 1px solid rgb(216, 216, 216);
          border-right: none !important;
        }
        .renovateur-joints {
          border-right: none !important;
        }
      }

      @media screen and (max-width: 420px) {
        .nettoyage-bloc-moteur,
        .nettoyage-cuir-alcantara,
        .shampoing-tapis-coffre,
        .impermeabilisant-textiles,
        .protection-ceramique,
        .anti-buee {
          border-left: 1px solid rgb(216, 216, 216);
        }

        .protection-ceramique-jantes,
        .renovateur-joints {
          border-right: 1px solid rgb(216, 216, 216) !important;
        }

        .renovateur-joints {
          border-top: none !important;
          border-bottom: none;
        }
      }

      .rénovateur-plastique {
        width: 100%;
      }

      .polissage,
      .nettoyage-bloc-moteur,
      .protection-ceramique,
      .nettoyage-cuir-alcantara,
      .shampoing-siege-tissus,
      .shampoing-tapis-coffre,
      .protection-plastique,
      .impermeabilisant-textiles,
      .protection-ceramique-jantes,
      .protection-ceramique-vitres,
      .protection-cuir,
      .anti-buee,
      .renovateur-joints,
      .renovateur-pneus,
      .shampoing-moquette {
        padding: 20px 20px 80px 20px;
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        transition: 1s;
        opacity: 0;
        transform: translateY(50px);
        margin: 0 auto;
        border-top: 1px solid rgb(216, 216, 216);
        border-right: 1px solid rgb(216, 216, 216);

        @media screen and (max-width: 420px) {
          margin: 0 auto;
        }

        img {
          height: 100px;
          margin: 20px;
          @media screen and (max-width: 420px) {
            height: 75px;
          }
        }

        .price {
          font-family: "poppins", serif;
          font-size: 1.5rem;
          font-weight: bolder;
          text-align: center;

          @media screen and (max-width: 900px) {
            font-size: 1.2rem;
          }
          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }

        h4 {
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "poppins", serif;
          text-transform: uppercase;
          margin: 10px 0;
          text-align: center;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 900px) {
            font-size: 1.2rem;
          }
          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }

        p {
          text-align: center;
          line-height: 25px;

          @media screen and (max-width: 900px) {
            font-size: 0.9rem;
          }
          @media screen and (max-width: 420px) {
            font-size: 0.8rem;
          }
        }

        button {
          cursor: pointer;
          padding: 10px 20px;
          color: #0c3c60;
          background: transparent;
          border: 1px solid #0c3c60;
          transition: 0.3s;
          font-family: "poppins", serif;
          font-weight: 400;
          min-width: 160px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 0 20px 0;

          @media screen and (max-width: 900px) {
            padding: 7.5px 12px;
          }

          &:hover {
            color: #ffffff;
            background: #0c3c60;
          }
        }
      }
    }
    .finitions-container-details {
      display: grid;
      grid-template-columns: repeat(5, 20%);
    }
  }
}
