.partners {
  background: #ffffff;
  margin: 0 200px;

  @media screen and (max-width: 1455px) {
    margin: 50px 68px;
  }
  @media screen and (max-width: 480px) {
    margin: 8.67px 23.12px;
  }

  .partners-title {
    h3 {
      padding: 50px;
      margin: 30px 0;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #072136;

      @media screen and (max-width: 900px) {
        font-size: 1.65rem;
      }
      @media screen and (max-width: 600px) {
        padding: 25px 25px 0 25px;
      }
    }
  }

  .partners-container {
    // overflow: auto;
    padding: 50px;
    max-width: 1500px;
    margin: 0 auto;
    // scrollbar-width: none;
    // scroll-behavior: smooth;

    @media only screen and (max-width: 792px) {
      padding: 20px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 100px;
      list-style: none;

      @media only screen and (max-width: 1217px) {
        gap: 50px;
      }

      li {
        img {
          width: 25vw;
          max-width: 300px;
          aspect-ratio: 2/1;
          object-fit: contain;
          object-position: center;

          @media only screen and (max-width: 792px) {
            width: 200px;
          }
        }
      }
    }
  }
}
