* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "montserrat", serif;
  transition: 0.8s;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}
