section {
  font-family: "poppins";
  width: 66vw;
  max-width: 960px;
  margin: 0 auto;

  .big-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px 0 0 0;
    background: url(../../images/logo1.png) center/contain;
    background-repeat: no-repeat;
    height: 50vw;
    max-height: 500px;
    min-height: 250px;
  }

  .container {
    h1,
    h2 {
      margin: 20px 0;
      font-size: 1.6rem;
    }
    p {
      margin: 0 0 50px 0;
      font-size: 1.15rem;
    }
  }

  @media screen and (max-width: 400px) {
    width: 90vw;
  }
}
