.abonnement {
  display: grid;
  grid-template-columns: 26.67vw 26.67vw 26.67vw;
  grid-template-rows: 8vh 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "title title title"
    "abronze asilver agold"
    "apremium avip adiamant";
  text-align: center;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  min-width: 1000px;
  padding: 25px;

  @media only screen and (max-width: 1000px) {
    min-width: 0;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh 50vh;
    grid-template-areas:
      "abronze apremium"
      "asilver avip"
      "agold adiamant";
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 33vh 33vh 33vh;
  }

  h2 {
    grid-area: title;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  .premium,
  .vip,
  .diamant,
  .bronze,
  .silver,
  .gold {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin: 20px;

    @media only screen and (max-width: 600px) {
      transform: scale(0.7);
    }

    .abonnement-container {
      width: 55%;
      min-width: 250px;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 0px rgb(189, 189, 189);
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 1500%);
      transition: 0.3s;

      h3 {
        font-family: "montserrat", serif;
        margin: 20px 15px;
        font-size: 1.2rem;
      }

      .description {
        font-family: "poppins", serif;
        margin: 20px 10px;
      }

      .prix {
        position: relative;

        .pourcentage {
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translate(-100%, -50%);
          font-size: 1.3rem;
          font-family: "poppins", serif;
          background: #ff6600;
          color: #ffffff;
          width: 65px;
          border-radius: 5px 0 0 5px;
        }

        .prix-apres {
          font-family: "poppins", serif;
          font-size: 2.8rem;
          margin: 20px 0;

          span {
            font-size: 0.9rem;
          }
        }
      }

      .prix-avant {
        font-family: "poppins", serif;
        margin: 20px 0;

        span {
          text-decoration: line-through;
        }
      }

      .economie {
        font-family: "poppins", serif;
        margin: 20px 0;
        font-size: 1.3rem;

        span {
          color: #ff6600;
          font-size: 1.5rem;
        }
      }

      .info {
        font-family: "poppins", serif;
        margin: 20px 15px;
        font-size: 0.9rem;
      }
    }
  }

  .premium {
    grid-area: apremium;

    .abonnement-container {
      h3 {
        i {
          color: #614e1a;
        }
      }
    }
  }

  .vip {
    grid-area: avip;

    .abonnement-container {
      h3 {
        i {
          color: #c0c0c0;
        }
      }
    }
  }

  .diamant {
    grid-area: adiamant;

    .abonnement-container {
      h3 {
        i {
          color: #ffd700;
        }
      }
    }
  }

  .bronze {
    grid-area: abronze;

    .abonnement-container {
      h3 {
        i {
          color: #614e1a;
        }
      }
    }
  }

  .silver {
    grid-area: asilver;
    position: relative;

    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "le plus choisi";
      color: #ffffff;
      font-family: "montserrat", serif;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: bolder;
      position: absolute;
      z-index: 1;
      width: 55%;
      min-width: 250px;
      height: 17px;
      background: #ff6600;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px 20px 0 0;
    }

    .abonnement-container {
      h3 {
        i {
          color: #c0c0c0;
        }
      }
    }
  }

  .gold {
    grid-area: agold;

    .abonnement-container {
      h3 {
        i {
          color: #ffd700;
        }
      }
    }
  }

  .abonnement-anim {
    animation: abonnement-anim 0.5s ease-in-out forwards;
    @keyframes abonnement-anim {
      100% {
        opacity: 1;
      }
    }
  }
}
