.ecologie {
  background-color: #dcd9d4;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;

  .eco-container {
    width: 75vw;
    margin: 40px auto;
    text-align: justify;

    @media only screen and (max-width: 330px) {
      margin: 20px auto;
    }

    h3 {
      font-family: "montserrat", serif;
      font-size: 1.5rem;
      padding: 20px 0;

      @media only screen and (max-width: 550px) {
        font-size: 1.3rem;
      }

      @media only screen and (max-width: 330px) {
        font-size: 1.1rem;
        padding: 0 0 20px 0;
      }
    }

    p {
      font-family: "poppins", serif;
      line-height: 30px;

      @media only screen and (max-width: 330px) {
        font-size: 0.8rem;
        line-height: 20px;
      }

      .lettrine {
        font-family: "poppins", sans-serif;
        font-size: 3rem;

        @media only screen and (max-width: 330px) {
          font-size: 2rem;
        }
      }

      span {
        font-weight: bolder;
        font-size: 1.2rem;
        text-transform: uppercase;

        @media only screen and (max-width: 550px) {
          font-size: 1rem;
        }

        @media only screen and (max-width: 330px) {
          font-size: 0.9rem;
        }
      }
    }

    .eco-part1,
    .eco-part2,
    .eco-part3 {
      opacity: 0;
      transition: 0.3s;
    }
  }
}
