.faq {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  padding: 40px 0;

  @media only screen and (max-width: 330px) {
    padding: 20px 0;
  }
  .faq-container {
    width: 75vw;
    margin: 0 auto;

    .faq-title {
      h3 {
        font-family: "montserrat", serif;
        font-size: 1.5rem;
        margin: 0 0 40px 0;

        @media only screen and (max-width: 550px) {
          font-size: 1.3rem;
          margin: 0 0 20px 0;
        }
      }
    }

    .question1,
    .question2,
    .question3,
    .question4,
    .question5,
    .question6,
    .question7,
    .question8,
    .question9,
    .question10,
    .question11 {
      transition: 0.3s;
      padding: 20px 30px;
      margin: 10px 0;
      background: #9696962d;
      border-radius: 5px;
      cursor: pointer;

      h5 {
        font-family: "montserrat", serif;
        font-size: 1.2rem;
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          transition: 0.3s;
        }
        .arrowUp {
          transform: rotate(180deg);
        }

        @media only screen and (max-width: 550px) {
          font-size: 0.9rem;
        }
      }
      p {
        font-family: "poppins", serif;
        line-height: 30px;
        text-align: left;
        display: none;

        @media only screen and (max-width: 550px) {
          font-size: 0.8rem;
          line-height: 20px;
        }
      }

      .revealAnswer {
        display: block;
        animation: revealAnswer ease-in 0.2s forwards;

        @keyframes revealAnswer {
          from {
            opacity: 0;
            transform: translateY(-70px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
