.footer {
  background: #1f2937;
  font-family: "poppins", serif;

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px 0;

    .apropos {
      h4 {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #eeeeee;

        @media only screen and (max-width: 550px) {
          font-size: 1rem;
        }
      }

      ul > li {
        color: #ffffff;
        a {
          color: #ffffff;

          @media only screen and (max-width: 550px) {
            font-size: 0.8rem;
          }

          &:visited {
            color: #ffffff;
          }
        }
      }
    }
    .contact {
      h4 {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #eeeeee;
        @media only screen and (max-width: 550px) {
          font-size: 1rem;
        }
      }

      .mail {
        display: inline;

        @media only screen and (max-width: 550px) {
          font-size: 0.8rem;
        }
      }

      a {
        color: #ffffff;

        @media only screen and (max-width: 550px) {
          font-size: 0.8rem;
        }
        &:visited {
          color: #ffffff;
        }
      }

      p {
        color: #ffffff;
        @media only screen and (max-width: 550px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
