header {
  height: 88vh;
  position: relative;
  background: url(../images/bg3.webp) no-repeat center/cover;

  nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background: #0c3c60;
    transition: 0.2s ease-in-out;

    .logo {
      a {
        background: url(../images/logo1.png) center/cover;
        display: block;
        height: 75px;
        width: 100px;
      }
    }

    .menu {
      width: 66%;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        height: 100%;

        li {
          transition: 0.2s;
          font-size: 0.95rem;
          font-family: "montserrat", serif;
          font-weight: 500;
          // text-transform: uppercase;
          cursor: pointer;
          position: relative;

          a {
            text-decoration: none;
            color: #ffffff;

            &:visited {
              color: #ffffff;
            }
          }

          &:hover {
            &::after {
              content: "";
              position: absolute;
              top: 150%;
              left: 50%;
              transform: translateX(-50%);
              height: 1px;
              width: 100%;
              background: #ffffff;
              animation: botToTop 0.3s ease-in-out forwards;

              @keyframes botToTop {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                  top: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .valid-inscription,
  .error-inscription {
    top: 10px;
    right: -600px;
    position: fixed;
    padding: 20px 40px;
    width: 400px;
    background: #12d800;
    border-radius: 50px 0 0 50px;
    z-index: 5000;
    opacity: 0;
    transition: 0.3s;

    @media only screen and (max-width: 500px) {
      width: 300px;
    }
    p {
      font-weight: bold;
      text-transform: uppercase;
      display: inline;

      @media only screen and (max-width: 500px) {
        font-size: 0.8rem;
      }
      i {
        margin: 0 15px 0 0;

        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
    }
  }

  .error-inscription-anim {
    background: red;
    animation: inscription-anim 5s;
  }

  .valid-inscription-anim {
    animation: inscription-anim 5s;
  }

  @keyframes inscription-anim {
    10% {
      right: 0;
      opacity: 1;
    }
    90% {
      right: 0;
      opacity: 1;
    }
  }

  .header-text {
    position: absolute;
    bottom: -75px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #fefdfc;
    margin: 0 auto;
    width: 45vw;
    min-width: 650px;
    transition: 1s ease-in-out;

    div {
      color: #000000;

      p {
        font-size: 1.1rem;
        font-family: "poppins", serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-weight: 500;
        color: #000000;
        transition: 0.3s;
        // filter: drop-shadow(3px 0 3px #387dd8);
        margin: 20px 10px;

        @media only screen and (max-width: 550px) {
          font-size: 0.9rem;
        }
      }

      h1 {
        color: #072136;
        font-size: 3rem;
        font-family: "poppins";
        font-weight: 100;
        margin: 20px 10px;
        font-weight: 500;
        transition: 0.5s;
        text-transform: uppercase;

        @media only screen and (max-width: 550px) {
          font-size: 4rem;
        }
      }

      a {
        display: block;
        color: #0c3c60;
        padding: 20px;
        border: 1px solid #0c3c60;
        width: 33%;
        margin: 20px auto;
        min-width: 230px;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.95rem;
        transition: 0.3s ease-in-out;

        &:hover {
          color: #ffffff;
          background: #0c3c60;
        }
      }
    }
  }
}
