.options {
  background: url(../images/bg4.webp) center/cover no-repeat fixed;

  @media screen and (max-width: 900px) {
    background: #ffffff;
  }

  .options-container {
    height: 100%;
    width: 100%;
    background: #ffffffbe;
    padding: 0 0 50px 0;

    .options-title {
      h3 {
        padding: 50px;
        font-size: 2rem;
        font-weight: 100;
        font-family: "poppins", serif;
        text-transform: uppercase;
        text-align: center;
        color: #072136;
        opacity: 0;
        transform: translateY(50px);
        transition: 1s;

        @media screen and (max-width: 900px) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 600px) {
          padding: 25px 25px 0 25px;
        }
      }
    }

    .options-container-details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0 15%;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }

      @media screen and (max-width: 900px) {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      @media screen and (max-width: 600px) {
        margin: 0 20px;
      }

      @media screen and (max-width: 475px) {
        margin: 0;
      }

      @media screen and (max-width: 420px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      .polissage,
      .nettoyage-bloc-moteur,
      .protection-ceramique,
      .nettoyage-cuir-alcantara,
      .shampoing-siege-tissus,
      .shampoing-tapis-coffre,
      .protection-plastique,
      .impermeabilisant-textiles {
        padding: 20px 20px 50px 20px;
        text-align: center;
        max-width: 300px;
        min-width: 200px;
        position: relative;
        transition: 1s;
        opacity: 0;
        transform: translateY(50px) scale(0.5);

        @media screen and (max-width: 420px) {
          margin: 0 auto;
        }

        img {
          height: 100px;
          aspect-ratio: initial;
          margin: 20px;
          @media screen and (max-width: 420px) {
            height: 75px;
          }
        }

        .price {
          font-family: "poppins", serif;
          font-size: 1.5rem;
          font-weight: bolder;

          @media screen and (max-width: 900px) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }

        h4 {
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "poppins", serif;
          text-transform: uppercase;
          text-align: center;
          text-align: left;
          margin: 10px 10px 10px 0;

          @media screen and (max-width: 900px) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }

        p {
          text-align: left;
          line-height: 25px;

          @media screen and (max-width: 900px) {
            font-size: 0.9rem;
          }

          @media screen and (max-width: 420px) {
            font-size: 0.8rem;
          }
        }

        button {
          cursor: pointer;
          padding: 10px 20px;
          color: #0c3c60;
          background: transparent;
          border: 1px solid #0c3c60;
          transition: 0.3s;
          font-family: "poppins", serif;
          font-weight: 400;
          min-width: 160px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          @media screen and (max-width: 900px) {
            padding: 7.5px 15px;
          }

          &:hover {
            color: #ffffff;
            background: #0c3c60;
          }
        }
      }
    }
  }
}
