.rdv {
  text-align: center;

  h3 {
    font-family: "montserrat", serif;
    font-size: 1.5rem;
    padding: 40px 0;

    @media only screen and (max-width: 330px) {
      font-size: 1.3rem;
    }
  }

  .form-container {
    width: 50vw;
    margin: 0 auto;

    @media only screen and (max-width: 500px) {
      width: 85vw;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media only screen and (max-width: 1300px) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: 330px) {
        display: inline;
      }
    }

    .date-container,
    .time-container {
      p {
        font-size: 18px;
        color: #000000;

        @media only screen and (max-width: 500px) {
          font-size: 1.1rem !important;
        }
      }
      #time,
      #date {
        box-sizing: border-box;
        outline: 0;
        padding-left: 0.75rem;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        appearance: auto;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        margin: 0;

        &::-webkit-calendar-picker-indicator {
          background: none;
          bottom: 0;
          color: transparent;
          cursor: pointer;
          height: auto;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
        }

        &::-webkit-datetime-edit {
          text-align: center;
          width: 100%;
        }
      }
    }

    .last-name-container,
    .first-name-container,
    .email-container,
    .tel-container,
    .adresse-container,
    .ville-container,
    .date-container,
    .time-container {
      position: relative;
      margin: 0 auto 30px auto;
      width: 300px;
      color: #999;

      @media only screen and (max-width: 330px) {
        width: 220px;
      }

      input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;

        @media only screen and (max-width: 500px) {
          font-size: 12px;
        }

        &:focus {
          outline: none;
        }
      }

      input:focus ~ label,
      input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264ae;
      }

      input:focus ~ .bar:before,
      input:focus ~ .bar:after {
        width: 50%;
      }

      .bar {
        position: relative;
        display: block;
        width: 300px;

        &:before,
        &:after {
          content: "";
          height: 1px;
          width: 0;
          position: absolute;
          background: #5264ae;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }

        &:before {
          left: 50%;
        }

        &:after {
          right: 50%;
        }
      }

      label {
        color: #999;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;

        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }
      }

      p {
        display: block;

        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }
      }

      .message-error {
        color: red;
        text-align: left;
        visibility: visible;
      }

      .error-label {
        color: red !important;
      }

      .error-input {
        color: red;
      }
    }

    .date-container,
    .time-container {
      @media only screen and (max-width: 330px) {
        width: 220px;
      }
      input {
        cursor: pointer;
      }
    }

    .formule-container {
      width: 325px;
      margin: 0 auto 30px auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      text-align: left;

      @media only screen and (max-width: 730px) {
        width: 300px;
        flex-direction: column;
      }

      @media only screen and (max-width: 330px) {
        width: 220px;
      }

      .formule-base-container {
        margin: 0 0 30px 0;
      }

      .formule-base-container,
      .formule-abonnement-container {
        @media only screen and (max-width: 730px) {
          width: 100%;
          flex-direction: column;
        }
        .title-formule-base,
        .title-formule-abonnement {
          p {
            font-size: 18px;
            margin: 0 0 10px 0;

            @media only screen and (max-width: 730px) {
              text-align: center;
            }

            @media only screen and (max-width: 500px) {
              font-size: 1.1rem;
            }
          }
        }

        .exterieur1,
        .interieur1,
        .formule-abonnement-exterieur-container,
        .formule-abonnement-interieur-container {
          input:not(:checked),
          input:checked {
            position: absolute;
            left: 0;
            opacity: 0.01;
          }

          input:not(:checked) + label,
          input:checked + label {
            position: relative;
            padding-left: 2.3em;
            font-size: 1.05em;
            line-height: 1.7;
            cursor: pointer;

            @media only screen and (max-width: 500px) {
              font-size: 0.9rem;
            }
          }

          input:not(:checked) + label:before,
          input:checked + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 1px solid #aaa;
            background: #fff;
            border-radius: 0.2em;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 #5264ae;
            -webkit-transition: all 0.275s;
            transition: all 0.275s;
          }

          input:not(:checked) + label:after,
          input:checked + label:after {
            content: "✕";
            position: absolute;
            top: 0.55em;
            left: 0.13em;
            font-size: 1.375em;
            color: #5264ae;
            line-height: 0;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }

          input:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
          }

          input:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
          }

          input:disabled:not(:checked) + label:before,
          input:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #e9e9e9;
          }

          input:disabled:checked + label:after {
            color: #777;
          }

          input:disabled + label {
            color: #aaa;
          }

          input:checked:focus + label:before,
          input:not(:checked):focus + label:before {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
              0 0 0 6px rgba(97, 94, 255, 0.2);
          }
        }
      }
    }

    .options-container {
      width: 325px;
      margin: 0 auto 30px auto;

      @media only screen and (max-width: 330px) {
        width: 220px;
      }

      p {
        font-size: 18px;
        margin: 0 0 10px 0;

        @media only screen and (max-width: 500px) {
          font-size: 1.1rem;
        }
      }

      .polissage-container,
      .shampoing-siege-container,
      .shampoing-tapis-container,
      .nettoyage-bloc-moteur,
      .protection-ceramique-container,
      .nettoyage-sieges-cuir-alcantara-container,
      .protection-plastiques-container,
      .impermeabilisant-textiles-container {
        text-align: left;

        input:not(:checked),
        input:checked {
          position: absolute;
          left: 0;
          opacity: 0.01;
        }

        input:not(:checked) + label,
        input:checked + label {
          position: relative;
          padding-left: 2.3em;
          font-size: 1.05em;
          line-height: 1.7;
          cursor: pointer;

          @media only screen and (max-width: 500px) {
            font-size: 0.9rem;
          }
        }

        input:not(:checked) + label:before,
        input:checked + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 1.4em;
          height: 1.4em;
          border: 1px solid #aaa;
          background: #fff;
          border-radius: 0.2em;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 #5264ae;
          -webkit-transition: all 0.275s;
          transition: all 0.275s;
        }

        input:not(:checked) + label:after,
        input:checked + label:after {
          content: "✕";
          position: absolute;
          top: 0.55em;
          left: 0.13em;
          font-size: 1.375em;
          color: #5264ae;
          line-height: 0;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }

        input:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
        }

        input:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
        }

        input:disabled:not(:checked) + label:before,
        input:disabled:checked + label:before {
          box-shadow: none;
          border-color: #bbb;
          background-color: #e9e9e9;
        }

        input:disabled:checked + label:after {
          color: #777;
        }

        input:disabled + label {
          color: #aaa;
        }

        input:checked:focus + label:before,
        input:not(:checked):focus + label:before {
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
            0 0 0 6px rgba(97, 94, 255, 0.2);
        }
      }
    }

    .textarea-container {
      margin: 0 auto 30px auto;
      width: 300px;
      color: red;
      text-align: left;

      @media only screen and (max-width: 330px) {
        width: 250px;
      }

      textarea {
        font-size: 18px;
        width: 100%;
        resize: none;
        height: 150px;
        font-family: "arial", serif;
        padding: 5px;

        @media only screen and (max-width: 500px) {
          font-size: 0.9rem;
        }

        &::placeholder {
          color: #999;
          font-size: 18px;
          font-weight: lighter;
          padding: 3px 0 0 5px;
          font-family: "arial", serif;

          @media only screen and (max-width: 500px) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .submit-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 30px 30px 30px;
      input {
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;
        background: #000000;
        transition: 0.3s;
        border: 1px solid #ffffff;

        &:hover {
          border: 1px solid #000000;
          background: #ffffff;
          color: #000000;
        }
      }
    }

    .price,
    .estimated-time {
      font-size: 1.5rem;
      text-align: left;
      width: 300px;
      margin: 0 auto 30px auto;

      @media only screen and (max-width: 500px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 330px) {
        width: auto;
      }
    }
  }
}
