* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "montserra", serif;
  transition: 0.3s;
  opacity: 0;
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "mrdafoe";
  src: url(../fonts/MrDafoe-Regular.ttf);
}

@font-face {
  font-family: "parisienne";
  src: url(../fonts/Parisienne-Regular.ttf);
}

@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
