.tarif {
  overflow-x: hidden;
  min-width: 1000px;
  background-color: #dcd9d4;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;

  @media only screen and (max-width: 1000px) {
    min-width: 0;
  }

  .interieur,
  .exterieur {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1.3rem;
    font-family: "montserrat";

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
    }

    @media only screen and (max-width: 330px) {
      grid-template-columns: none;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      margin: 0 0 20px 0;

      @media only screen and (max-width: 550px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 330px) {
        font-size: 1.1rem;
      }
    }

    p {
      padding: 6.5px 0;

      @media only screen and (max-width: 550px) {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: 330px) {
        font-size: 0.9rem;
      }
    }

    ul {
      list-style: url(../images/check-solid.svg);
    }

    ul > li {
      margin: 6.5px 0;

      @media only screen and (max-width: 550px) {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: 330px) {
        font-size: 0.9rem;
      }

      .cadeau {
        color: #d90429;
      }
      .tissu {
        font-weight: bold;

        text-decoration: underline;
      }
    }
    .tarif-title,
    .option-title {
      font-size: 1.4rem;
      font-weight: bolder;

      @media only screen and (max-width: 330px) {
        font-size: 1.1rem;
      }
    }

    ul {
      li {
        a {
          cursor: pointer;
          color: #000000;
          i {
            font-size: 1rem;

            @media only screen and (max-width: 330px) {
              font-size: 0.9rem;
            }
          }

          &:visited {
            color: #000000;
          }
        }
      }
    }
  }

  .interieur {
    .left-ext {
      margin: 20px;
      padding: 25px 50px;
      border: 1px dashed rgb(166, 114, 69);
      transform: translateX(100px);
      opacity: 0;
      transition: 0.5s;

      @media only screen and (max-width: 330px) {
        margin: 10px 0 10px 20px;
        border: none;
        padding: 0;
      }
    }

    .right-ext {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      transform: translateX(-100px);
      opacity: 0;
      transition: 0.5s;

      div {
        margin: 1px;
      }

      .carrosserie {
        background: url(../images/polissage.webp) center/cover;
      }

      .pneu {
        background: url(../images/nettoyage-pneu.webp) center/cover;
      }

      .vitre {
        background: url(../images/grosplan-vitre.webp) center/cover;
      }

      .detail {
        background: url(../images/grosplan-porsche.webp) center/cover;
      }
    }

    .tarif-anim {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .exterieur {
    @media only screen and (max-width: 1000px) {
      grid-template-areas:
        "texte texte"
        "photo photo";
      grid-template-columns: 50vw;
      grid-template-rows: 1fr 1fr;
    }
    .left-int {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      transform: translateX(100px);
      opacity: 0;
      transition: 0.5s;

      @media only screen and (max-width: 1000px) {
        grid-area: photo;
      }

      div {
        margin: 1px;
      }

      .tableauBord {
        background: url(../images/lavage-interieur.webp) center/cover;
      }

      .carpette {
        background: url(../images/close-up-car-care-dusting.webp) center/cover;
      }

      .siege {
        background: url(../images/interieur-karcher.webp) center/cover;
      }

      .porte {
        background: url(../images/interieur-chiffon.webp) center/cover;
      }
    }
    .right-int {
      margin: 20px;
      padding: 25px 50px;
      border: 1px dashed rgb(166, 114, 69);
      transform: translateX(-100px);
      opacity: 0;
      transition: 0.5s;

      @media only screen and (max-width: 1000px) {
        grid-area: texte;
      }

      @media only screen and (max-width: 330px) {
        margin: 10px 0 10px 20px;
        border: none;
        padding: 0;
      }
    }

    .tarif-anim {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
