.tarif {
  margin: 100px;
  .price-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    min-width: 1160px;

    .m {
      border-right: 1px solid rgb(216, 216, 216);
      border-left: 1px solid rgb(216, 216, 216);
    }

    .s,
    .m,
    .l {
      .s-title,
      .m-title,
      .l-title {
        margin: 50px;

        img {
          height: 50px;
        }

        h3 {
          font-size: 2rem;
          font-weight: 100;
          font-family: "poppins", serif;
          text-transform: uppercase;
        }
      }

      .s-tarif,
      .m-tarif,
      .l-tarif {
        margin: 40px;
        p {
          font-family: "poppins", serif;
          font-size: 1.3rem;
          margin: 20px 0;

          .price {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .explication-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    min-width: 1160px;

    .exterieur {
      border-right: 1px solid rgb(216, 216, 216);
    }

    .exterieur,
    .interieur {
      padding: 80px 80px 20px 80px;
      h3 {
        margin: 0 50px 50px 50px;
        font-size: 2rem;
        font-weight: 100;
        font-family: "poppins", serif;
        text-transform: uppercase;
        text-align: center;
      }

      ul {
        list-style: none;
        li {
          font-family: "poppins", serif;
          font-size: 1.2rem;
          margin: 20px 0;
          i {
            margin: 0 10px 0 0;
            font-size: 15px;
          }
        }
      }
    }
  }
}
