* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserra", serif;
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "mrdafoe";
  src: url(../fonts/MrDafoe-Regular.ttf);
}
@font-face {
  font-family: "parisienne";
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
header {
  background: url(../images/pexels-jay-pizzle-3772857.webp) no-repeat center/cover;
}
header nav {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 1500px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  z-index: 100;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
header nav .logo a {
  color: #343a40;
  text-decoration: none;
  font-family: "mrdafoe";
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
header nav .logo a:visited {
  color: #343a40;
}
header nav .menu {
  width: 66%;
}
header nav .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}
header nav .menu ul:hover li:not(:hover) {
  filter: blur(0.8px);
  transform: scale(0.96);
}
header nav .menu ul li {
  transition: 0.2s;
  font-size: 0.9rem;
  font-family: "montserrat", serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
header nav .menu ul li a {
  text-decoration: none;
  color: #343a40;
}
header nav .menu ul li a:visited {
  color: #343a40;
}
header nav .menu ul li:hover {
  transform: scale(1.04);
}
header nav .menu ul li:hover::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background: #343a40;
  animation: botToTop 0.3s ease-in-out forwards;
}
@keyframes botToTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
header nav .social-network {
  width: 10%;
}
header nav .social-network ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #343a40;
}
header nav .social-network ul li {
  cursor: pointer;
}
header .header-text {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-text div {
  margin-top: -150px;
  color: #ffffff;
}
header .header-text div h1 {
  color: #ffffff;
  font-size: 5rem;
  font-family: "parisienne";
  font-weight: 500;
  text-shadow: 3px 0 3px #d90429;
}
header .header-text div h2 {
  font-family: "poppins", sans-serif;
  margin-top: -40px;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 5px -1px 0 #d90429;
}
header .header-text div p {
  font-size: 1.3rem;
  font-family: "poppins", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  color: #d90429;
}
header .header-text div .fa-solid {
  position: absolute;
  bottom: 50px;
  font-size: 2rem;
  color: #d90429;
  cursor: pointer;
}

.tarif {
  min-width: 1000px;
  background-color: #dcd9d4;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}
.tarif .interieur,
.tarif .exterieur {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh;
  font-size: 1.3rem;
  font-family: "montserrat";
}
.tarif .interieur h3,
.tarif .exterieur h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 20px 0;
}
.tarif .interieur p,
.tarif .exterieur p {
  padding: 6.5px 0;
}
.tarif .interieur ul,
.tarif .exterieur ul {
  list-style: url(../images/check-solid.svg);
}
.tarif .interieur ul > li,
.tarif .exterieur ul > li {
  margin: 6.5px 0;
}
.tarif .interieur ul > li span,
.tarif .exterieur ul > li span {
  color: #d90429;
}
.tarif .interieur .left-ext {
  margin: 20px;
  padding: 25px 50px;
  border: 1px dashed rgb(166, 114, 69);
}
.tarif .interieur .right-ext {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.tarif .interieur .right-ext div {
  margin: 1px;
}
.tarif .interieur .right-ext .carrosserie {
  background: url(../images/grosplan-retro.webp) center/cover;
}
.tarif .interieur .right-ext .pneu {
  background: url(../images/nettoyage-pneu.webp) center/cover;
}
.tarif .interieur .right-ext .vitre {
  background: url(../images/grosplan-vitre.webp) center/cover;
}
.tarif .interieur .right-ext .detail {
  background: url(../images/grosplan-porsche.webp) center/cover;
}
.tarif .exterieur .left-int {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.tarif .exterieur .left-int div {
  margin: 1px;
}
.tarif .exterieur .left-int .tableauBord {
  background: url(../images/lavage-interieur.webp) center/cover;
}
.tarif .exterieur .left-int .carpette {
  background: url(../images/close-up-car-care-dusting.webp) center/cover;
}
.tarif .exterieur .left-int .siege {
  background: url(../images/interieur-karcher.webp) center/cover;
}
.tarif .exterieur .left-int .porte {
  background: url(../images/interieur-chiffon.webp) center/cover;
}
.tarif .exterieur .right-int {
  margin: 20px;
  padding: 25px 50px;
  border: 1px dashed rgb(166, 114, 69);
}

.abonnement {
  display: grid;
  grid-template-columns: 26.67vw 26.67vw 26.67vw;
  grid-template-rows: 8vh 46vh 46vh;
  align-items: center;
  justify-content: center;
  grid-template-areas: "title title title" "abronze asilver agold" "apremium avip adiamant";
  text-align: center;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
  min-width: 1000px;
}
.abonnement h2 {
  grid-area: title;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
}
.abonnement .premium,
.abonnement .vip,
.abonnement .diamant,
.abonnement .bronze,
.abonnement .silver,
.abonnement .gold {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abonnement .premium .abonnement-container,
.abonnement .vip .abonnement-container,
.abonnement .diamant .abonnement-container,
.abonnement .bronze .abonnement-container,
.abonnement .silver .abonnement-container,
.abonnement .gold .abonnement-container {
  width: 55%;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgb(189, 189, 189);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 1500%);
  transition: 0.3s;
}
.abonnement .premium .abonnement-container h3,
.abonnement .vip .abonnement-container h3,
.abonnement .diamant .abonnement-container h3,
.abonnement .bronze .abonnement-container h3,
.abonnement .silver .abonnement-container h3,
.abonnement .gold .abonnement-container h3 {
  font-family: "montserrat", serif;
  margin: 20px 15px;
  font-size: 1.2rem;
}
.abonnement .premium .abonnement-container .description,
.abonnement .vip .abonnement-container .description,
.abonnement .diamant .abonnement-container .description,
.abonnement .bronze .abonnement-container .description,
.abonnement .silver .abonnement-container .description,
.abonnement .gold .abonnement-container .description {
  font-family: "poppins", serif;
  margin: 20px 10px;
}
.abonnement .premium .abonnement-container .prix,
.abonnement .vip .abonnement-container .prix,
.abonnement .diamant .abonnement-container .prix,
.abonnement .bronze .abonnement-container .prix,
.abonnement .silver .abonnement-container .prix,
.abonnement .gold .abonnement-container .prix {
  position: relative;
}
.abonnement .premium .abonnement-container .prix .pourcentage,
.abonnement .vip .abonnement-container .prix .pourcentage,
.abonnement .diamant .abonnement-container .prix .pourcentage,
.abonnement .bronze .abonnement-container .prix .pourcentage,
.abonnement .silver .abonnement-container .prix .pourcentage,
.abonnement .gold .abonnement-container .prix .pourcentage {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  font-size: 1.3rem;
  font-family: "poppins", serif;
  background: #ff6600;
  color: #ffffff;
  width: 65px;
  border-radius: 5px 0 0 5px;
}
.abonnement .premium .abonnement-container .prix .prix-apres,
.abonnement .vip .abonnement-container .prix .prix-apres,
.abonnement .diamant .abonnement-container .prix .prix-apres,
.abonnement .bronze .abonnement-container .prix .prix-apres,
.abonnement .silver .abonnement-container .prix .prix-apres,
.abonnement .gold .abonnement-container .prix .prix-apres {
  font-family: "poppins", serif;
  font-size: 2.8rem;
  margin: 20px 0;
}
.abonnement .premium .abonnement-container .prix .prix-apres span,
.abonnement .vip .abonnement-container .prix .prix-apres span,
.abonnement .diamant .abonnement-container .prix .prix-apres span,
.abonnement .bronze .abonnement-container .prix .prix-apres span,
.abonnement .silver .abonnement-container .prix .prix-apres span,
.abonnement .gold .abonnement-container .prix .prix-apres span {
  font-size: 0.9rem;
}
.abonnement .premium .abonnement-container .prix-avant,
.abonnement .vip .abonnement-container .prix-avant,
.abonnement .diamant .abonnement-container .prix-avant,
.abonnement .bronze .abonnement-container .prix-avant,
.abonnement .silver .abonnement-container .prix-avant,
.abonnement .gold .abonnement-container .prix-avant {
  font-family: "poppins", serif;
  margin: 20px 0;
}
.abonnement .premium .abonnement-container .prix-avant span,
.abonnement .vip .abonnement-container .prix-avant span,
.abonnement .diamant .abonnement-container .prix-avant span,
.abonnement .bronze .abonnement-container .prix-avant span,
.abonnement .silver .abonnement-container .prix-avant span,
.abonnement .gold .abonnement-container .prix-avant span {
  text-decoration: line-through;
}
.abonnement .premium .abonnement-container .economie,
.abonnement .vip .abonnement-container .economie,
.abonnement .diamant .abonnement-container .economie,
.abonnement .bronze .abonnement-container .economie,
.abonnement .silver .abonnement-container .economie,
.abonnement .gold .abonnement-container .economie {
  font-family: "poppins", serif;
  margin: 20px 0;
  font-size: 1.3rem;
}
.abonnement .premium .abonnement-container .economie span,
.abonnement .vip .abonnement-container .economie span,
.abonnement .diamant .abonnement-container .economie span,
.abonnement .bronze .abonnement-container .economie span,
.abonnement .silver .abonnement-container .economie span,
.abonnement .gold .abonnement-container .economie span {
  color: #ff6600;
  font-size: 1.5rem;
}
.abonnement .premium .abonnement-container .info,
.abonnement .vip .abonnement-container .info,
.abonnement .diamant .abonnement-container .info,
.abonnement .bronze .abonnement-container .info,
.abonnement .silver .abonnement-container .info,
.abonnement .gold .abonnement-container .info {
  font-family: "poppins", serif;
  margin: 20px 15px;
  font-size: 0.9rem;
}
.abonnement .premium {
  grid-area: apremium;
}
.abonnement .vip {
  grid-area: avip;
}
.abonnement .diamant {
  grid-area: adiamant;
}
.abonnement .bronze {
  grid-area: abronze;
}
.abonnement .bronze .abonnement-container h3 i {
  color: #614e1a;
}
.abonnement .silver {
  grid-area: asilver;
  position: relative;
}
.abonnement .silver:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "le plus choisi";
  color: #ffffff;
  font-family: "montserrat", serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bolder;
  position: absolute;
  z-index: 1;
  width: 55%;
  min-width: 250px;
  height: 17px;
  background: #ff6600;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px 20px 0 0;
}
.abonnement .silver .abonnement-container h3 i {
  color: #c0c0c0;
}
.abonnement .gold {
  grid-area: agold;
}
.abonnement .gold .abonnement-container h3 i {
  color: #ffd700;
}

.ecologie {
  background-color: #dcd9d4;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}
.ecologie .eco-container {
  width: 75vw;
  margin: 40px auto;
  text-align: justify;
}
.ecologie .eco-container h3 {
  font-family: "montserrat", serif;
  font-size: 1.5rem;
  margin: 20px 0;
}
.ecologie .eco-container p {
  font-family: "poppins", serif;
  line-height: 30px;
}
.ecologie .eco-container p .lettrine {
  font-family: "poppins", sans-serif;
  font-size: 3rem;
}
.ecologie .eco-container p span {
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.faq {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
  padding: 40px 0;
}
.faq .faq-container {
  width: 75vw;
  margin: 0 auto;
  text-align: justify;
}
.faq .faq-container .faq-title h3 {
  font-family: "montserrat", serif;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
}
.faq .faq-container .question h5 {
  font-family: "montserrat", serif;
  font-size: 1.2rem;
  margin: 5px 0;
}
.faq .faq-container .question p {
  font-family: "poppins", serif;
  line-height: 30px;
}

.footer {
  background: #1f2937;
  color: #ffffff;
  font-family: "poppins", serif;
}
.footer .footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px 0 0 0;
  height: 20vh;
}
.footer .footer-container .apropos h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #eeeeee;
}
.footer .footer-container .apropos ul > li a:visited {
  color: #ffffff;
}
.footer .footer-container .contact h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #eeeeee;
}/*# sourceMappingURL=index.css.map */